<h1>Users Index</h1>
<<<<<<< HEAD
<div class="d-flex">
  <% @users.each do |user| %>
    <div class="card">
      <p>First name : <%= user.first_name %></p>
      <p>Last name : <%= user.last_name %></p>
      <p>Address : <%= user.address %></p>
      <p>Manager : <%= user.manager %></p>
      <p>Fixer : <%= user.fixer %></p>
      <p><%= link_to "Delete", user_path(user.id), method: :delete, data: {confirm: "Are you sure?"}, class:"text-danger" %></p>
    </div>
  <% end %>
</div>

<p><%= link_to "Home", root_path, class: "btn btn-primary" %></p>
=======

<div class="cards d-flex">
  <% @users.each do |user| %>
    <div class="card">
      <h6>Name</h6>
      <p><%= current_user.first_name %></p>
      <p><%= current_user.last_name %></p>
      <h6>manager</h6>
      <p><%= current_user.manager %></p>
      <h6>fixer</h6>
      <p><%= current_user.fixer %></p>
      <h6>customer</h6>
      <p><%= current_user.customer %></p>
    </div>
  <% end %>
</div>
<%= link_to "home", root_path, class: "btn btn-danger" %>
>>>>>>> e68d0dc997763ea99598f916b444899cac537e6a
